@import 'reset';

.props-component {
  border: solid 1px black;
  padding: 5px;
  margin: 20px 0;
}

h1 {
  font-size: 2em;
  color: blue;
}

h2 {
  font-size: 1.5em;
  color: green;
}

img {
  width: 100px;
}
